.App {
  text-align: center;
  background-color: rgb(230, 10, 21);
  height: 100vh;
}

.Nav-bar {
  height: 8%;
  background-color: black;
  display: flex;
}

.home-btn {
  height:80%;
  width: 5%;
  background-color: rgb(169, 136, 240);
  align-self: center;
  margin: 0.5vh;
}

.add-committe-btn {
  height:80%;
  width: 7%;
  background-color: rgb(169, 136, 240);
  align-self: center;
  margin: 0.5vh;
}

.home-btn:hover, .add-committe-btn:hover {
  background-color: coral;
}

.main-body {
  background-color: darkgreen;
  height: 92vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.committe-list-container {
  background-color: darkkhaki;
  width: 20%;
}

.committe-details-container {
  background-color: darkseagreen;
  width: 80%;
}